<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body class = postbody>
<button class="menu">Menu</button>
<h1 class = heading>Posts</h1>
<button onclick="changeColor()">Click Here</button>
<ol class="post-list">
    <% results.forEach(function(post) {%>
        <li class="post">
           <p class = "postmessage"> <%= post.message %> </p>
           <img src = "<%= post.imageUrl %>" width="200" >
           <p>Posted by <a href="/users/<%= post.postedBy.id %>" ><%= post.postedBy.name %></a></p>
        </li>
    <% }); %>
</ol>
<%if (next) { %>
    <a href="<%= next %>">Next</a>
<% } %>
<%if (previous) { %>
    <a href="<%= previous %>">Previous</a>
<% } %>
</body>
<%- include('_footer') -%>
</html>