<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body class = userbody>
    <h1><%= name %></h1>
    <p><%= email %></p>
    <h2><%= name %>'s post</h2>
<ul><% posts.forEach(post =>{%>
     <li> <img src = "<%= post.imageUrl %>" width="200" >
     <p><%= username %></p>
     <p><%= post.createdAt %></p>
     <p><%= post.message %></p></li>
     <% }); %>
</ul>
<p> <img src="<%= profileImageUrl %>">
    <img src="<%= coverImageUrl %>">
</p>
</body>
<%- include('_footer') -%>
</html>