<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
<h1><%= name %></h1>
<p>
    <%= username %>
    </p>
   <p> <%= email %>
</p>
<p> <img src="<%= profileImageUrl %>">
    <img src="<%= coverImageUrl %>">
</p>
</body>
<%- include('_footer') -%>
</html>