<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body class = userbody>  
<p> <img class= coverimage src="<%= coverImageUrl %>"></p>
<p><img class= userimage src="<%= profileImageUrl %>"></p>
<h1 class= name><%= name %></h1>
<p class= username><%= username %></p>
<p class= email><%= email %></p>
<h2><%= name %>'s post</h2>
<ul class = user-list><% posts.forEach(post =>{%>
     <li> <img class= postimage src = "<%= post.imageUrl %>" width="200" >
     <p class= username><%= username %></p>
     <p class = date><%= post.createdAt %></p>
     <p class = message><%= post.message %></p></li>
     <% }); %>
</ul>
</body>
<%- include('_footer') -%>
</html>